@font-face {
	font-family: "Lexend";
	src: url(fonts/Lexend-Regular.ttf);
}


html,body{
	margin:0;
	padding: 0;
	font-family: "Lexend";
}
::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	font-size: 1.4em;
	font-family: "Lexend";
	margin: auto;
	font-weight: 800;
}
.grille {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin: 10px auto;
	align-items: center;
}
@media only screen and (max-width: 480px){
	.grille{
	width: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin: 10px auto;
	align-items: center;
	}
}
.grid-item{
	width: 70%;
	justify-items: cover;
}
.new-item{
	width: 300px;
	height: 200px;
	background-color: black;
}
.new-item p{
	margin: 0;
	color: red;
	text-align: center;
	
	
} 

.img_achat{
	display: flex;
	justify-content: center;
	width: 100%;
		
}
.img_grille{
	width: 25%;
}
img{
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

.grille-auth {
	margin-top: 300px;
    margin:auto;
	width: 60%;
	height: 70%;
    display: grid;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 5%;
	align-items: center;
     margin: 5%;
	margin-left: auto;
	margin-right: auto;
}

h3{
	text-align: center;
}
.button-auth{
	justify-content: center;
}

.basket-head{
	max-width: 800px;
	width: 25%;
	height: auto;
	margin: auto auto;
	background-color: #AFE2FF;
	border-radius: 50px;
}
.basket{
	margin: auto auto;
	width: 50%;
	
}
.basket-title{
	text-align: center;
	font-size: clamp(0.5em, 3vw, 1em);

}
.grille-basket {
	max-width: 800px;
	width: 70%;
	height: auto;
	margin: auto auto;
	display: grid;
	grid-template-columns: 1(1fr, 300px);
	justify-content: left;
	border-radius: 5%;
	background-color: #ffffff;

}
.grid-basket-item{
	width: 300px;
	height: 200px;
	
}
.basket-item{
	display:flex;

}

.basket-total{
	text-align: center;
	max-width: 800px;
	width: 80%;
	height: auto;
	margin: auto auto;
	background-color: #AFE2FF;
}

.box_achat{
	max-width: 800px;
	width: 80%;
	height: auto;
	margin: auto auto;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;

}

.text_item{
	display: flex;
	justify-content: center;
	align-items: center;
	

}

.size{
	text-align: left;
	margin-left: 100px;
}
.carre{
	display: flex;
}
.grille-signup{
	 margin-top: auto;
	 margin-bottom: auto;
	 margin:auto;
	 width: 60%;
	 height: 70%;
	 display: grid;
	 justify-content: center;
	 background-color: #ffffff;
	 border-radius: 5%;
	 align-items: center;
	  margin: 5%;
	 margin-left: auto;
	 margin-right: auto;
}

@media only screen and (max-width: 600px){
	.grille-signup{
		margin-top: auto;
		margin-bottom: auto;
		margin:auto;
		width: 80%;
		height: 65%;
		display: grid;
		justify-content: center;
		background-color: #ffffff;
		border-radius: 20px;
		align-items: center;
		 margin: 5%;
		margin-left: auto;
		margin-right: auto;}

	.grille-auth{
		margin-top: auto;
		margin-bottom: auto;
		margin:auto;
		width: 80%;
		height: 65%;
		display: grid;
		justify-content: center;
		background-color: #ffffff;
		border-radius: 20px;
		align-items: center;
		 margin: 5%;
		margin-left: auto;
		margin-right: auto;
	}
	.grille-signup{
		margin-top: auto;
		margin-bottom: auto;
		margin:auto;
		width: 80%;
		height: 65%;
		display: grid;
		justify-content: center;
		background-color: #ffffff;
		border-radius: 20px;
		align-items: center;
		 margin: 5%;
		margin-left: auto;
		margin-right: auto;
	}
}


.header-compte{
	margin-top: auto;
	margin-bottom: auto;
	margin:auto;
	width: 60%;
	height: 70%;
	display: grid;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 5%;
	align-items: center;
	 margin: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cart-page{
	margin: auto auto;
	border-radius: 6%;
	width: 70%;
	background-color: #ffffff;
	
}
.basket_back{
	background-color: #AFE2FF;
}

  table{
	width:100%;
	display: flex;
	justify-content: center;
	border-collapse: collapse;

	
}
/* ?? hover blanc pour poubelle ??*/
svg :hover{
	color: white;
}

  .cart-info{
	display: flex;
	flex-wrap: wrap;
  }
  
  th{
	text-align:  left;
	padding: 5px;
	color: black;
	font-weight: normal;
	
  }
  
  td{
	padding: 10px 5px;
  }
  
  td input{
	width: 40px;
	height: 30px;
	padding: 5px;
  }
  
  td a{
	color: #3F9DF3;
	font-size: 12px;
  }
  
  td img{
	width: 80px;
	
  }
  
  .total-price{
	display: flex;
	justify-content: center;
  }
  
  .total-price table{
	border-top: 3px solid white;
	width: 50%;
	max-width: 320px;
  }
  
  td last-child{
	text-align: right;
  }
  
  th last-child{
	text-align: right;
  }
  

  @media only screen and (max-width: 600px){
	.row{
	  text-align: center;
	}
	.col-2, .col-3, .col-4{
	  flex-basis: 100%;
	}
	.single-product .row{
	  text-align: left;
	}
	.single-product .col-2{
	  padding: 20px 0;
	}
	.single-product h1{
	  font-size: 26px;
	  line-height: 32px;
	}
	
	.cart-info p{
	  display: none;
	}
  }



button {
  background-color: #ffffff;
  border: 1px solid #FFCCEB;
  border-radius: 30px;
  box-shadow: #FFCCEB  2px 2px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  padding: 0 12px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #FFCCEB ;
}

button:active {
  box-shadow: #FFCCEB 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.carre_bleu{
	height: 10px;
	width: 10px;
	background-color: #0973dd;
	margin-right: 10px;
}

.carre_rouge{
	height:10px;
	width:10px;
	background-color: #DD0909;
	margin-right: 10px;
}

.carre_marron{
	height:10px;
	width:10px;
	background-color: #4e2501;
	margin-right: 10px;
}

.return{
	cursor: pointer;
}

.titre{
	font-size: 1.5em;
	text-align: center;
	line-height: 40px;
	font-weight: 700;
}

h2{
	font-family: 'Lexend';
	font-size: 1.2em;
	margin-left: 15%;
	line-height: 25px;

}
p{
	font-size: 1em;
	text-align: justify;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
	max-width: 80%;
	line-height: 25px;

}
.fleche{
	margin-left: 5%;
	height: 1em;
}

.login{
	background-color: #FFCCEB;
}

.product-small-img img{
	width:100%;
	margin: 10px 0;
	cursor: pointer;
	display: block;
	opacity: .7;
}
.product-small-img img:hover{
	opacity: 1;

}
.product-small-img{
	float: left;
	width:33%;
	min-width: 30px;
}
.product{
	
	display: flex;
	
}
.img-container img{
	width:80%;
	min-width: 90px;
}
.img-container{
	float: right;
	padding: 10px;
}

.text-info{
	display: flex;
	flex-direction: row;
}

.compo{
	font-size: 0.8em;
	font-weight: 400;
}

.div-taille{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: end;

}

h4{
	text-align: end;
	font-size: 1em;
	font-weight: 500;
}

h5{
	text-align: end;
	font-size: 12px;
	font-weight: 400;
}

.pics{
	max-width: 50%;
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 480px){
	.box_achat{
		max-width: 800px;
		width: 80%;
		height: auto;
		margin: auto auto;
	}
	.product{
		display: block;
		justify-content: center;
		align-items: center;
	}
	.pics{
		max-width: 100%;
	}
	h4{
		text-align: center;
	}
	h5{
		text-align: start;
	}
}

select{
	width: 50px;
	height:25px;
	padding:6px;
	border: 2px solid #FFCCEB;
	font-size: 11px;
	color :black;
	background-color: #ffffff;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

}