html,body{
	margin:0;
	padding: 0;
}
::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 50px 0;
}
.grille {
	max-width: 1300px;
	width: 100%;
	height: auto;
	margin: auto auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	grid-gap: 10px;

}
.grid-item{
	width: 300px;
	height: 200px;
}
.new-item{
	width: 300px;
	height: 200px;
	background-color: black;
}
.new-item p{
	margin: 0;
	color: red;
	text-align: center;
	
	
} 

img{
	width: 300px;
	height: 200px;
}

.grille-auth {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: auto 50px;
    display: grid;
    justify-content: center;

}
.button-auth{
	justify-content: center;
}

.basket-head{
	max-width: 800px;
	width: 100%;
	height: auto;
	margin: auto auto;
	background-color: gray;
}
.basket{
	margin: auto auto;
	width: 100%;
	
}
.basket-title{
	text-align: center;
}
.grille-basket {
	max-width: 800px;
	width: 100%;
	height: auto;
	margin: auto auto;
	display: grid;
	grid-template-columns: 1(1fr, 300px);
	justify-content: left;
	background-color: gray;

}
.grid-basket-item{
	width: 300px;
	height: 200px;
	
}
.basket-item{
	display:flex;

}
.item-info{
	margin-left: 10px;
}
.basket-total{
	text-align: center;
	max-width: 800px;
	width: 100%;
	height: auto;
	margin: auto auto;
	background-color: gray;
}