::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'APL';
	src: url(fonts/APL386.ttf);
  }
html,body{
	margin:0;
	padding: 0;
}


.grille {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	justify-content: center;
	grid-gap: 0px;
	

}
.grid-item{
	width: 100%;
	height: 100vh;
	background: rgb(5, 210, 246);
	overflow: hidden;

}


.first{
	background: #afe2ff;
}
.second{
	background: #ffcceb;
}

.papagei{
	margin:0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-family: 'APL';
	font-style: normal;
	font-weight: 400;
	font-size: clamp(4rem, 10vw, 8rem);
	line-height: 128px; 

	z-index: 999;
	color: #fcff51;
}

@media screen and (max-width: 480px){

	.grille {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;

	justify-content: center;
	grid-gap: 0px;
	/* z-index: 1;  */
	
	}
	.grille > :nth-child(n+3){
		display: none;
	}
	.grid-item{
		width: 100%;
		background: rgb(5, 210, 246);
	}
	.first{
		background: rgb(230, 158, 252);
	}
	.second{
		background: rgb(249, 218, 162);
	}
}