@font-face {
	font-family: "rumeur";
	src: url(fonts/rumeur.otf);
}

::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body{
	margin:0;
	padding: 0;
}

/* * {
	border:1px solid #333;
} */



.papagei{
	margin:0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-family : 'rumeur';
	font-style: normal;
	font-weight: 400;
	font-size: clamp(4rem, 10vw, 8rem);
	line-height: 128px; 

	z-index: 999;
	color: #FFFFFF;

}


@media screen and (max-width: 480px){

	.grille {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	justify-content: center;
	grid-gap: 0px;
	/* z-index: 1;  */
	
	}
	.grille > :nth-child(n+3){
		display: none;
	}
	
}

.entête:hover{ 
	color: #FCFF51;
}

section{
	width: 100%;
	height: 100vh;
	background: url(img/cap_blanc/04_papagei_large_copie.jpg);
	background-size: cover;
	background-position: center;
  }