@font-face {
	font-family: "rumeur";
	src: url(fonts/rumeur.otf);
}

::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body{
	margin:0;
	padding: 0;
}

/* * {
	border:1px solid #333;
} */

.div_groupe_mer{
	width: 100%;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
.groupe_mer {
	max-width: 100%;
	max-height: ;
	object-fit:scale-down;
	margin: 0;
	padding: 0;
	
	

}

.grille {
	/* max-width: 1300px; */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;

	justify-content: center;
	grid-gap: 0px;
	/* z-index: 1;  */
	

}
.grid-item{
	width: 100%;
	height: 100vh;
	background: rgb(5, 210, 246);
	overflow: hidden;

}


.papagei{
	margin:0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-family : 'rumeur';
	font-style: normal;
	font-weight: 400;
	font-size: clamp(4rem, 10vw, 8rem);
	line-height: 128px; 

	z-index: 999;
	color: #FFFFFF;

}


@media screen and (max-width: 480px){

	.grille {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	justify-content: center;
	grid-gap: 0px;
	/* z-index: 1;  */
	
	}
	.grille > :nth-child(n+3){
		display: none;
	}
	
}

.entête:hover{ 
	color: #FFCCEB;
}