<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Document</title>
</head>

<body>
    <nav class="all-nav-bar">
        <a class="navbar-brand" href="#">PAPAGEI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="navbar-collapse" id="navbardefault">

          <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('home.home')}}">Home <span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('contact.contact')}}">contact</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('news.news')}}">news</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('account.account')}}">account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('basket.basket')}}">panier</a>
            </li>


          </ul>
        </div>
      </nav>

    
    <main>
        
        {% block content %}

        {% endblock content %}

        
    </main>
</body>
</html>