<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/nav.css" rel="stylesheet">

    <title>papagei</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="nav-left">
          <a class="navbar-brand" href="{{url_for('papagei.papagei')}}">PAPAGEI</a>
          <a class="nav-link" href="{{url_for('home.home')}}">nouvelle collection <span class="sr-only"></span></a>

        </div>
        
    
        <div class="nav-right">

              <a class="nav-link" href="{{url_for('account.account')}}">compte</a>

              <a class="nav-link" href="{{url_for('basket.basket')}}">panier</a>

        </div>


    </div>
    </nav>

    
    <main>
        
        {% block content %}

        {% endblock content %}

        
    </main>
</body>
</html>