<head>
	<link rel="stylesheet" href="static/main.css">
</head>
{% extends "base.html" %}

{% block content %}
<head>
	
  </head>
	<body>
		<div class="grille">
			{% for carts_items in carts %}
			{% for cart_item in carts_items.cart_items %}
			
			<a href="{{url_for('sale.sale_page', id= cart_item.item.id)}}"><div class="grid-item"><img src="data:image/png;base64,{{cart_item.item.image.decode()}}" alt="{{cart_item.item.title}}"/></div></a>

			{% endfor %}
			{% endfor %}
		</div>
	</body>
{% endblock content%}



</html>