<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://js.stripe.com/v3/"></script>
  <title>papagei</title>
</head>
{%extends "base.html" %}

{% block content %}


<form action="/checkout" method="POST">
  <script src="https://js.stripe.com/v3/"></script>
  <input type="text" name="amount" placeholder="Montant">
  <div id="card-element"></div>
  <input type="text" name="cvc" placeholder="CVC">
  <input type="text" name="expiration" placeholder="Expiration (MM/AAAA)">
  <button type="submit">Payer</button>
</form>

<script>
  var stripe = Stripe('pk_test_51NBZLXEMaq40ecNsoIWP9cI1AADkpjNuTKgQPDoa8QobZpHt718PQVKyf0ZTcBczLIJ2lTsiW3wGApalmM8YVN8500IbBtfXmW');
  var elements = stripe.elements();


  var cardElement = elements.create('card');
  cardElement.mount('#card-element');
</script>

{% endblock %}

</html>