{% extends "base.html" %}


{% block content %}
	<body>
		<div id="box_achat">
			<a href="{{url_for('sale.sale_page', id= item.id)}}"><div class="grid-item"><img src="data:image/png;base64,{{item.image.decode()}}" alt="{{item.title}}"/></div></a>
			<div class="size">
				<form>
					<label for="size">taille</label>
					<select name="size" id="size">
						<option value="Skinny">S</option>
						<option value="Medium">M</option>
						<option value="Large">L</option>
					</select>
				</form>
			</div>
			
			<div class="btn">
				<form>
					<button class="addbag">ajouter au panier</button>
				</form>
				
			</div>
			
			
		</div>
	</body>
	{% endblock %}
