
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/papagei.css">
    <title>PAPAGEI</title>
</head>

{% extends "base.html" %}
<body>

    {% block content %}
    <h1 class="papagei">PAPAGEI</h1>

    <div class="test"></div>
    
    <div class="grille">

        <div class="grid-item first">
            <img class="asos" src="static/img/asos.png"></div>
        <div class="grid-item second"></div>
        <div class="grid-item second"></div>
        <div class="grid-item first"></div>
    </div>
    {% endblock %}
    
</body>

</html>
