
<h3>Sign Up</h3>
<div >
    <form method="POST" action="/signup">

        <p> <input  type="email" name="email" placeholder="Email" autofocus=""> </p>

        <p> <input  type="text" name="firstname" placeholder="First name" autofocus=""> </p>

        <p> <input  type="text" name="name" placeholder="Last name" autofocus=""> </p>
        
        <p> <input  type="text" name="adress" placeholder="adress" autofocus=""> </p>

        <p> <input  type="text" name="country" placeholder="country"> </p>

        <p> <input  type="password" name="password" placeholder="Password"> </p>

        <p> <button class="button is-block is-info is-large is-fullwidth">Sign Up</button> </p>
    </form>
</div>
