{% extends "base.html" %}

{% block content %}

<body>
		<div id="contimg">

			<div class="img-item"><a href="sale"><img src="static/img/laine1.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			
			<div class="img-item"><a href="sale"><img src="static/img/laine.jpg"style="width:500px;height:500px;" alt="image de bob"/></a></div>
			
			<div class="img-item"><a href="sale"><img src="static/img/bobc.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			<div class="img-item"><a href="sale"><img src="static/img/bobc.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			<div class="img-item"><a href="sale"><img src="static/img/bobc.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			<div class="img-item"><a href="sale"><img src="static/img/bobc.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			
		</div>

	{% endblock %}



</html>