<head>
	<link rel="stylesheet" href="static/main.css">
</head>

{% extends "base.html" %}

{% block content %}

	<body>
		<div class="grille">

			{% for image in items %}
			
			{% if image.main_image !=byte %}
				<div class="grid-item">
					<a href="{{url_for('sale.sale_page', id= image.id)}}">

					<img src="data:image/png;base64,{{image.image.decode()}}" loading="lazy" alt="{{image.title}}"/>
			</a>
					<p>{{image.title}}</p>
					<p>{{image.price|int}} €</p>
				</div>
			
			{% endif %}
			{% endfor %}
		</div>

	</body>
{% endblock content%}



</html>