<!DOCTYPE html>
<html>
	<head>
		<title> site marchand </title>
		<link rel="stylesheet" type="text/css" href="/static/main.css"/>
	</head>

	<body>

<!--tete de mon site--> 
		<header class="container">
			<div id="row">
				<!--logo-->
				<h1 class="col-sm-4">PlanetLouiz</h1>
				<!-- barre de nav-->
				<div id="box">

					<!--barre de nav gauche -->
					<div class="boxleft">
						<nav class="left">
							<ul>
								<li class="btn"><a href="/">accueil</a></li>
								<li class="btn"><a href="news">infos</a></li>
								<li class="btn"><a href="contact">contact</a></li>
								
								
							</ul>
						</nav>
						
					</div>
					
				</div> 

	
			</div>



		</header>
		<div id="contimg">

			<div class="img-item"><a href="sale"><img src="img/laine1.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			
			<div class="img-item"><a href="sale"><img src="img/laine.jpg"style="width:500px;height:500px;" alt="image de bob"/></a></div>
			
			<div class="img-item"><a href="sale"><img src="img/bobc.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			<div class="img-item"><a href="sale"><img src="img/bobc.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			<div class="img-item"><a href="sale"><img src="img/bobc.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			<div class="img-item"><a href="sale"><img src="img/bobc.jpg" style="width:500px;height:500px;" alt="image de bob"/></a></div>
			
		</div>

			<!--bas de page-->
		<footer>
			<div id="reseaux">
				<nav class=social>
					<ul>
						<li class="btn2"><a href="#"><img src="img/insta.png" width="20px" height="20px">instagram</a></li>
						
						<li class="btn2"><a href="#"><img src="img/twitter.png" width="20px" height="20px">twitter</a></li>

						<li class="btn2"><a href="https://facebook.com"><img src="img/facebook.png" width="20px" height="20px">facebook</a></li>
					</ul>
				</nav>
			</div>


			<p id ="copyRight"> &copy;Theotrc </p>
		</footer>
		


	</body>




</html>