<head>
	<link rel="stylesheet" href="static/admin.css">
</head>
{%extends "base.html" %}

{% block content %}



<div class="new_item">
  <form method="POST" enctype="multipart/form-data" action="/admin_page" required>

      <h3 class="title">Nouvel article</h3>


      <p><input class="input is-large" type="text" name="titre" placeholder="titre" required> </p>

      <p> Image principale: <input class="input is-large" type="file" name="image" required> </p>


      <p><input class="input is-large" type="text" name="description" placeholder="description" required> </p>

      <p><input class="input is-large" type="text" name="composition" placeholder="composition" required> </p>

      <p><input class="input is-large" type="text" name="prix" placeholder="prix" required> </p>

      <p><input class="input is-large" type="text" name="couleur" placeholder="couleur" required> </p>

      <p> <div id="item_color"></div> </p>

      <p> <button type="button" onclick="ajouterUneCouleur()">Ajouter une couleur</button> </p>
      

      <p><input class="input is-large" type="text" name="poids" placeholder="poids" required> </p>

      <p> <input class="input is-large" type="text" name="size" placeholder="taille" required> </p>

      <p> <div id="input-container"></div> </p>
      
      <button type="button" onclick="ajouterChampTexte()">Ajouter une taille</button>

      <p> <input class="input is-large" type="number" name="quantity" placeholder="Quantité" required> </p>

      <p> <input class="input is-large" type="text" name="about_model" placeholder="Description du model"> </p>

      
      


      <div id="images-container">
          <p>Images secondaires</p>
          <label for="image1">Image 1 :</label>
          <input type="file" name="second_images" id="image1" accept="image/*" required>
          <br>
      </div>
      
        <!-- Bouton pour ajouter de nouveaux champs d'image -->
        <button type="button" onclick="ajouterChampImage()">Ajouter une image</button>

      <p> <input type = "submit" value="Valider"/> </p>
  </form>
</div>

<script>
    function ajouterChampImage() {
      // Comptez le nombre de champs d'image existants
      const imagesContainer = document.getElementById('images-container');
      const existingImageFields = imagesContainer.getElementsByTagName('input').length;
  
      // Créez un nouvel élément de champ d'image
      const newImageField = document.createElement('div');
      newImageField.innerHTML = `
        <label for="image${existingImageFields + 1}">Image ${existingImageFields + 1} :</label>
        <input type="file" name="second_images" id="image${existingImageFields + 1}" accept="image/*" required>
        <br>
      `;
  
      // Ajoutez le nouveau champ d'image au conteneur
      imagesContainer.appendChild(newImageField);
    };
    

    let inputCount = 0; // Compteur pour les champs de saisie de texte

    function ajouterChampTexte() {
      inputCount++;
  
      // Créer un nouvel élément de champ de saisie de texte
      const inputElement = document.createElement('input');
      inputElement.type = 'text';
      inputElement.name = 'couleur'; // Nom unique pour chaque champ de saisie de texte
      inputElement.placeholder = `${inputCount + 1} ème taille`
  
      // Ajouter le champ de saisie de texte au conteneur
      const inputContainer = document.getElementById('input-container');
      inputContainer.appendChild(inputElement);
    }

    function ajouterUneCouleur() {
      inputCount++;
  
      // Créer un nouvel élément de champ de saisie de texte
      const inputElement = document.createElement('input');
      inputElement.type = 'text';
      inputElement.name = 'colors'; // Nom unique pour chaque champ de saisie de texte
      inputElement.placeholder = `${inputCount + 1} ème couleur`

  
      // Ajouter le champ de saisie de texte au conteneur
      const item_color = document.getElementById('item_color');
      item_color.appendChild(inputElement);
    };

  
  </script>
    {% with messages = get_flashed_messages(with_categories=true,
         category_filter=["error","info"]) %}

        {%if messages %}
            {% for category, message in messages %}
                <p>{{message}}</p>
            {% endfor %}

        {%endif %}

    {% endwith %}

{%endblock content %}