<!DOCTYPE html>
<html>

	<head>
		<title> site marchand </title>
		<link rel="stylesheet" type="text/css" href="/static/main.css"/>
	</head>

<!--tete de mon site--> 
		<header class="container">
			<div id="row">
				<!--logo-->
				<h1 class="col-sm-4">PlanetLouiz</h1>
				<!-- barre de nav-->
				<div id="box">

					<!--barre de nav gauche -->
					<div class="boxleft">
						<nav class="left">
							<ul>
								<li class="btn"><a href="/">accueil</a></li>
								<li class="btn"><a href="news">infos</a></li>
								<li class="btn"><a href="contact">contact</a></li>
								
								
							</ul>
						</nav>
						
					</div>
					
				</div> 

	
			</div>
		</header>
	{% block content %}
	{% endblock %}
	<footer class = "achat">
		<div id="reseaux">
			<nav class=social>
				<ul>
					<li class="btn2"><a href="https://www.instagram.com"><img src="static/img/insta.png" width="20px" height="20px">instagram</a></li>
					
					<li class="btn2"><a href="#"><img src="static/img/twitter.png" width="20px" height="20px">twitter</a></li>

					<li class="btn2"><a href="https://facebook.com"><img src="static/img/facebook.png" width="20px" height="20px">facebook</a></li>
				</ul>
			</nav>
		</div>


		<p> &copy;Theotrc </p>
	</footer>