<!DOCTYPE html>
<html>
    {% block content %}
	<head>
		<title> site marchand </title>
		<link rel="stylesheet" type="text/css" href="/static/main.css"/>
	</head>

	<body>

<!--tete de mon site--> 
		<header class="container">
			<div id="row">
				<!--logo-->
				<h1 class="col-sm-4">PlanetLouiz</h1>
				<!-- barre de nav-->
				<div id="box">

					<!--barre de nav gauche -->
					<div class="boxleft">
						<nav class="left">
							<ul>
								<li class="btn"><a href="/">accueil</a></li>
								<li class="btn"><a href="news">infos</a></li>
								<li class="btn"><a href="contact">contact</a></li>
								
								
							</ul>
						</nav>
						
					</div>
					
				</div> 

	
			</div>
            {% endblock  %}