<head>
	<link rel="stylesheet" href="static/main.css">
</head>
{% extends "base.html" %}

{% block content %}
<head>
	
  </head>
	<body>		
				
					
						<div class="basket-head">
							<h2 class="basket-title"> Votre panier </h2>
						</div>
						<div class="grille-basket">
							<!-- for cart in carts -->
							<!--  -->
							<!-- for item in cart_items -->

							{% for cart in carts %}
								{% for cart_item in cart.cart_items %}
								<div class="basket-item">
									<a href="{{url_for('sale.sale_page', id= cart_item.item.id)}}">
										<div class="grid-basket-item">
											<img src="data:image/png;base64,{{cart_item.item.image.decode()}}" alt="{{cart_item.item.title}}"/>
										
										</div>
									</a> 
									<div class="item-info">
										<h2>{{cart_item.item.price}} €</h2>
										<p>{{cart_item.item.title}}</p>
										<p>{{cart_item.item.description}}</p>
										<p>taille: {{cart_item.size}}</p>
										<a href="{{url_for('basket.deleteitem_basket', id= cart_item.id)}}" onclick="return confirm('Retirer du panier?')">
											<svg xmlns="http://www.w3.org/2000/svg" version="1.0" preserveAspectRatio="xMidYMid meet" viewBox="16 0.17 91 122.83">

												<g transform="translate(0.000000,123.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
												<path d="M467 1224 c-4 -4 -7 -18 -7 -31 0 -23 0 -23 -131 -23 -72 0 -139 -5 -150 -10 -16 -9 -19 -22 -19 -80 l0 -70 455 0 455 0 0 70 c0 58 -3 71 -19 80 -11 5 -78 10 -150 10 l-130 0 -3 28 -3 27 -146 3 c-80 1 -148 -1 -152 -4z"/>
												<path d="M231 848 c0 -46 8 -247 18 -447 17 -357 18 -364 40 -382 21 -18 46 -19 326 -19 280 0 305 1 326 19 22 18 23 25 40 382 10 200 18 401 18 447 l1 82 -385 0 -385 0 1 -82z m247 -120 c17 -17 17 -509 0 -526 -18 -18 -75 -15 -82 4 -8 20 -8 498 0 518 7 19 64 22 82 4z m177 -263 l0 -270 -40 0 -40 0 -3 260 c-1 143 0 266 3 273 3 9 18 12 42 10 l38 -3 0 -270z m179 259 c8 -20 8 -498 0 -518 -7 -19 -64 -22 -82 -4 -17 17 -17 509 0 526 18 18 75 15 82 -4z"/>
												</g>
											</svg>
										</a>
									</div>
								</div>
								{% endfor %}
								<div class="basket-total">
									<p>basket-total</p>
									<form action="/charge" method="post">
										<article>
										  <label>

											<span>Total {{cart.total_price}}€</span>

										  </label>
										</article>
									  
										<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
												data-key="{{ key }}"
												data-description="A Flask Charge"
												data-amount="{{cart.total_price * 100}}"
												data-locale="auto"></script>
									  </form>
									<p></p>
								</div>
							{% endfor %}
							

					
				</div>

				
			
		
		
	</body>
{% endblock content%}



</html>