<!DOCTYPE html>

<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}
    <a href="#" id="buy_now_btn">coucou les loulous</a>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const checkout_public_key = "{{checkout_public_key}}"
      const checkout_session_id = "{{checkout_session_id}}"
    </script>
    <script src="{{url_for('static', filename='script-no-ajax.js')}}"></script>
    {% endblock content %}
  </body>

</html>