<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>papagei</title>
</head>
{%extends "base.html" %}

{% block content %}


<!-- <form action="/checkout" method="POST">
  <script src="https://js.stripe.com/v3/"></script>
  <input type="text" name="amount" placeholder="Montant">
  <div id="card-element"></div>
  <input type="text" name="cvc" placeholder="CVC">
  <input type="text" name="expiration" placeholder="Expiration (MM/AAAA)">
  <button type="submit">Payer</button>
</form> -->
<a href="#" id="buy_now_btn">acheter</a>
<script src="https://js.stripe.com/v3/"></script>
<script>
  const checkout_public_key = "{{checkout_public_key}}"
  const checkout_session_id = "{{checkout_session_id}}"
</script>
<script src="{{url_for('static', filename='script-no-ajax.js')}}"></script>
{% endblock %}

</html>