<head>
	<link rel="stylesheet" href="static/main.css">
</head>

{% extends "base.html" %}

{% block content %}

	<body>
		<div class="grille">

			{% for item in items %}
                <form method="POST" action="/newcollection">
                    <p>
						<h1>{{item.name}}</h1>
						<h1>{{item.id}}</h1>
					</p>
                    <p></p>
                    
					<p> 
						<a href="{{url_for('collection.add_item_collection', collectionId=item.id)}}">Ajouter un nouvel article</a>
					</p>
                    <p> 
						<input class='input-btn' type = "submit" value="Supprimer la collection"/>
					</p>
                </form>
			{% endfor %}

            <a href="{{url_for('collection.new')}}">Ajout d'une collection</a>
		</div>

	</body>

{% endblock content%}



</html>