<head>
	<link rel="stylesheet" href="static/main.css">
</head>
{%extends "base.html" %}

{% block content %}
<div class="grille-auth">
<h3 class="title">Login</h3>
<form method="POST" action="/login">

    <p> <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus=""> </p>


    <p><input class="input is-large" type="password" name="password" placeholder="Your Password"> </p>

    <p> <label >
        <input type="checkbox" name="remember">
        Remember me
    </label> </p>

    <p> <input type = "submit" value="login"/> </p>
    
</form>
    <p> <button><a href="{{url_for('auth.signup')}}">signup</a></button> </p>
    <p><a href="{{url_for('auth.resetpwd')}}">mot de passe oublié</a></p>
    {% with messages = get_flashed_messages(with_categories=true,
         category_filter=["error","info"]) %}

        {%if messages %}
            {% for category, message in messages %}
                <p>{{message}}</p>
                
            {% endfor %}

        {%endif %}

    {% endwith %}
</div>

{%endblock content %}

