{% extends "base.html" %}
{% block content %}
<body>
	<div class ="infos">
		<p>Ce site, est un site marchand, proposant diverse créations vestimentaires, réalisé maison, au crochet.  </p>
		<div id = "info"><p>Vous pouvez naviguer entre les différents onglets, proposé ci-dessus, pour découvrir nos toutes nouvelles créations</p>
		</div>
		<h3> Voici une vidéo de notre dernière création au crochet!!</h3>
		<iframe width="420" height="345" src="https://www.youtube.com/watch?v=IxpwhhxTtvI">
		</iframe>
	</div>

		

	
</body>
{% endblock %}
</html>