<!DOCTYPE html>
<html>
	<head>
		<title> site marchand </title>
		<link rel="stylesheet" type="text/css" href="/static/main.css"/>
	</head>

	<body>

<!--tete de mon site--> 
		<header class="container">
			<div id="row">
				<!--logo-->
				<h1 class="col-sm-4">PlanetLouiz</h1>
				<!-- barre de nav-->
				<div id="box">

					<!--barre de nav gauche -->
					<div class="boxleft">
						<nav class="left">
							<ul>
								<li class="btn"><a href="/">accueil</a></li>
								<li class="btn"><a href="news">infos</a></li>
								<li class="btn"><a href="contact">contact</a></li>
								
								
							</ul>
						</nav>
						
					</div>
					
				</div> 

	
			</div>


	</header>
	<div class ="infos">
		<p>Ce site, est un site marchand, proposant diverse créations vestimentaires, réalisé maison, au crochet.  </p>
		<div id = "info"><p>Vous pouvez naviguer entre les différents onglets, proposé ci-dessus, pour découvrir nos toutes nouvelles créations</p>
		</div>
		<h3> Voici une vidéo de notre dernière création au crochet!!</h3>
		<iframe width="420" height="345" src="https://www.youtube.com/watch?v=IxpwhhxTtvI">
		</iframe>

		
	</div>
	<footer class = "news">
			<div id="reseaux">
				<nav class=social>
					<ul>
						<li class="btn2"><a href="#"><img src="img/insta.png" width="20px" height="20px">instagram</a></li>
						
						<li class="btn2"><a href="#"><img src="img/twitter.png" width="20px" height="20px">twitter</a></li>

						<li class="btn2"><a href="https://facebook.com"><img src="img/facebook.png" width="20px" height="20px">facebook</a></li>
					</ul>
				</nav>
			</div>


			<p> &copy;Theotrc </p>
		</footer>
	
</body>
</html>