
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/papagei.css">
    
</head>

{% extends "base.html" %}
<body>

    {% block content %}

    <a class='papagei' href="{{url_for('home.home')}}">

       papagei
    </a>
    <div class="background"></div>
<section></section>

    {% endblock %}

</body>

</html>
