
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/papagei.css">
    <link rel="icon" type="image/x-icon" href="static/img/favico/papagei.ico">
    

    
</head>

{% extends "base_papagei.html" %}
<body>

    {% block content %}

    <a class='papagei' href="{{url_for('home.home')}}">

       papagei
    </a>
    <div class ="mentions">
    <a class ="cgv" href = "{{url_for('mention.cgv')}}"> CGV</a>
    <a class ="cgu" href ="{{url_for('mention.cgu')}}">CGU</a>
    <a class ="mentions_légales" href="{{url_for('mention.mentions_legales')}}">Mentions Légales</a>
    </div>
    <div class="background"></div>
<section></section>
<div class="popup" id="popup">
    
    <button id="close" href="#">x</a></button>
    
    <p>Nous n'utilisons pas de cookies !
        <br>
        Si vous remplissez votre panier sans être connecté à votre compte, il ne pourra pas s'enregistrer.
        N'oubliez pas de vous connecter à votre compte ou d'en créer un !
    </p>
</div>
<script src={{url_for('static', filename='script-popup.js')}}></script>

    {% endblock %}

</body>

</html>
