<head>
	<link rel="stylesheet" href="static/main.css">
</head>


{% extends "base.html" %}
{% block content %}
<body class="login">
<div class="grille-signup">
    <h3>Je crée mon compte</h3>

    <form method="POST" action="/signup">

        <p> <input  type="email" name="email" placeholder="Email" autofocus="" required> </p>


        <p> <input  type="text" name="firstname" placeholder="Prénom" autofocus="" required> </p>

        <p> <input  type="text" name="name" placeholder="Nom" autofocus="" required> </p>
        

        <p> <input  type="text" name="street" placeholder="Nom de la voie" required> </p>

        <p> <input  type="text" name="street_number" placeholder="Numéro de la voie" required> </p>

        <p> <input  type="text" name="addressmore" placeholder="Complément d'adresse"> </p>

        <p> <input  type="text" name="city" placeholder="Ville" required> </p>

        <p> <input  type="text" name="zipcode" placeholder="Code postal" required> </p>

        <p> <input  type="text" name="country" placeholder="Pays" required> </p>



        


        <p> <input  type="password" name="password" placeholder="Mot de passe" required> </p>

        <p> <input  type="password" name="confirm_password" placeholder="Confirmez votre mot de passe" required> </p>



        <p> <input class='input-btn'type = "submit" value="Valider"/></p>

    </form>
    {% with messages = get_flashed_messages(with_categories=true,
        category_filter=["error","info"]) %}

       {%if messages %}
           {% for category, message in messages %}
               <p>{{message}}</p>
               
           {% endfor %}

       {%endif %}

   {% endwith %}
</div>
</body>

{% endblock %}

