<!DOCTYPE html>
<html lang="en">
<head>
    <title>Validation mail</title>
</head>
{% extends "base.html" %}

        {% block content %}
<body>
    <form method="POST" action="/mailvalidation/{{id}}/{{code}}">
        <p><input class="input is-large" type="password" name="password" placeholder="Nouveau Mot de Passe"> </p>
        <p><input class="input is-large" type="password" name="confirm_password" placeholder="Confirmation du Mot de Passe"> </p>
        <p> <input type = "submit" value="Valider"/> </p>
    </form>
    {% with messages = get_flashed_messages(with_categories=true,
        category_filter=["error","info"]) %}

       {%if messages %}
           {% for category, message in messages %}
               <p>{{message}}</p>
               
           {% endfor %}

       {%endif %}

   {% endwith %}
   {% endblock content%}
</body>
</html>

